.dashboard-icon
{
    font: size 3em;
}

.dashboard-photo
{
    width:3em;
    height: 3em;
    object-fit: cover;
}

.edit-icon
{
    font-size: 7em;
}

.edit-photo
{
    width: 7em;
    height: 7em;
    object-fit: cover;
}